body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  src: local("AppleSDGothicNeoL"),
   url("./font/AppleSDGothicNeoL.ttf") format("truetype");
  font-weight: light;
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  src: local("AppleSDGothicNeoR"),
   url("./font/AppleSDGothicNeoR.ttf") format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: "Apple SD Gothic Neo";
  src: local("AppleSDGothicNeoB"),
   url("./font/AppleSDGothicNeoB.ttf") format("truetype");
  font-weight: bold;
}